<div class="home-page">
    <div class="image-container">
        <img src="assets/map.png" alt="Image Sagemcom" class="home-image">
        <div class="overlay-text">
            <p>
               Joining Sagemcom group means being part of an international <br /> organization,
                 where we have to take up new challenges every day <br /> 
                 in order to remain a leader  in our markets. <br /> 
                 If teamwork, agility, creativity and new technologies attract you, <br /> <br /> 
                 then join the adventure!
            </p>
        </div>
    </div>
</div>
